@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#app {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

body::-webkit-scrollbar {
  display: none;
}

.l-button {
  &.email {
    @apply text-xl rounded-lg font-bold;
  }
  &.website {
    @apply text-xl pl-[97px] pr-16 py-8 rounded-[4px] font-bold text-[#101010];
  }

  &:hover {
    background: #bda160;
  }
}

.carousel-item-interval {
  margin-right: 450px;
}

.title {
  &.main {
    @apply text-[120px] font-extrabold;
  }
  &.sub {
    @apply text-5xl font-bold;
  }
  &.sub-sub {
    @apply text-2xl font-bold text-[#cfcfcf];
  }
  &.product-main {
    @apply text-[40px] font-bold text-[#e7e7e7];
  }
}

.bg-primary {
  background: linear-gradient(to right, #efdbb9, #bb9f5d);
}

.gradiation-primary {
  background: linear-gradient(to right, #efdbb9, #bb9f5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-primary {
  color: #bda160;
}
