<template>
  <div class="product-layout-wrapper flex flex-col">
    <div
      class="title-wrapper title product-main text-white mt-32 mb-8 show-item show-on-scroll"
    >
      <slot name="title" />
    </div>
    <div class="main-img-wrapper mb-8 show-item show-on-scroll">
      <slot name="mainImg" />
    </div>
    <div class="description-wrapper text-[#9f9f9f] show-item show-on-scroll">
      <slot name="description" />
    </div>
    <div class="detail-img-wrapper mt-20 show-item show-on-scroll">
      <slot name="detailImg" />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.show-item {
  opacity: 0;
  transform: translateY(4em);
  transition: transform 1s 0.25s, opacity 0.3s 0.25s ease-out;
  will-change: transform, opacity;
}
.show-item.is-visible {
  opacity: 1;
  transform: translateY(-8rem);
}

@media screen and (max-width: 980px) {
  .main-img-wrapper {
    margin: 0 -24px 24px -24px;
  }
}
</style>
