<template>
  <div
    class="scroll-about about-wrapper flex flex-col laptop_md:min-w-[960px] carousel-item-interval laptop_md:pr-10"
  >
    <div class="title-wrapper laptop_min:mb-[88px] tablet:mb-10">
      <span
        class="title font-bold gradiation-primary laptop_min:text-[48px] tablet:text-[32px]"
      >
        {{ title }}
      </span>
    </div>
    <div class="text-wrapper w-full">
      <span class="title sub-sub laptop_min:text-[24px] tablet:text-[20px]">{{
        subTitle
      }}</span>
      <p
        class="explanation mt-6 leading-7 text-left text-[#9f9f9f] laptop_min:text-[16px] tablet:text-[14px]"
      >
        We provide IT and creative culture to the users to supply their
        needs.<br /><br />

        Our mission is to be the market leader in the streaming and donation
        platform market where the customer will always find a team of
        specialists and valuable content on hand to provide easy access to their
        knowledge. We believe that our technology will empower streaming
        enthusiasts to raise money for worthy causes going forward.<br /><br />

        Also, we offer a brand new type of experience, which is virtual game
        content so that our customers can enjoy it anywhere, at any time.<br /><br />

        We pursue something that can be fun and spark creativity. Our
        contributors play with many ideas and invite customers to do the same.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    const title = "ABOUT US";
    const subTitle = "La Lion Pte.Ltd";
    return {
      title,
      subTitle,
    };
  },
};
</script>

<style>
@media screen and (max-width: 1241px) {
  .about-wrapper {
    min-width: calc(100vw - 35%);
  }
}
@media screen and (max-width: 980px) {
  .about-wrapper {
    min-width: 100%;
  }
}
</style>
