<template>
  <div v-if="isMobile" class="mobile-index">
    <mobile-index />
  </div>
  <div
    v-else
    class="about-container about-root-wrapper w-full relative h-screen flex flex-col overflow-hidden"
  >
    <div class="video-carousel-wrapper flex w-full h-full">
      <video
        id="aboutVideo"
        muted
        playsinline
        autoplay
        loop
        class="about-video absolute -z-20 w-full h-full flex object-fill"
        src="/src/assets/Lalion_main2.mp4"
        @click="onOffVideo"
      >
        <source src="/src/assets/Lalion_main2.mp4" />
      </video>
      <carousel>
        <template #content>
          <div
            class="carousel-item flex transition duration-1000"
            :style="style"
          >
            <about />
            <who />
            <partners />
          </div>
        </template>
      </carousel>
    </div>
    <div
      class="navigation-wrapper absolute bottom-16 laptop_min:pl-[13%] tablet:pl-6 flex items-center"
    >
      <div class="delimter-wrapper relative mr-[58px] min-w-[500px]">
        <div
          class="line background-line border-[1px] opacity-[0.1] w-[750px]"
        ></div>
        <div
          class="line status-line border-[1px] w-1/3"
          ref="delimeter"
          :style="{
            transition: 'all ease 500',
          }"
        ></div>
      </div>
      <div class="btn-wrapper">
        <button class="btn mr-6 w-16 rounded-md" @click="toLeft">
          <img
            class="w-full"
            src="/src/assets/about/left-arrow.svg"
            alt="button image"
            :style="currentPosition === 1 ? disableClicked : ''"
          />
        </button>
        <button class="btn w-16 rounded-md" @click="toRight">
          <img
            class="w-16 rotate-180"
            src="/src/assets/about/left-arrow.svg"
            alt="button image"
            :style="currentPosition === 3 ? disableClicked : ''"
          />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Carousel from "../carousel/Carousel.vue";
import About from "./About.vue";
import Who from "./Who.vue";
import Partners from "./Partners.vue";
import { onMounted, ref, watch } from "vue";
import MobileIndex from "./MobileIndex.vue";
export default {
  components: { Carousel, About, Who, Partners, MobileIndex },
  setup() {
    const isVideoOn = ref(false);
    const delimeter = ref(null);
    const width = ref(window.innerWidth);
    const isMobile = ref(width.value < 1266 ? true : false);
    let currentPosition = ref(1);
    let autoScroll;
    const style = ref({});
    const disableClicked = ref({
      opacity: "0.3",
    });

    const toLeft = () => {
      style.value = {
        transform: `translateX(${
          currentPosition.value > 1 ? 1409 - 1409 * --currentPosition.value : ""
        }px)`,
        transition: "all ease 1000",
      };
      if (delimeter.value) {
        delimeter.value.setAttribute(
          "style",
          `width: ${(currentPosition.value / 3) * 100}%;`
        );
      }
      initAutoScroll();
    };
    const toRight = () => {
      style.value = {
        transform: `translateX(${
          currentPosition.value <= 2 ? -1409 * currentPosition.value++ : ""
        }px)`,
      };
      if (delimeter.value) {
        delimeter.value.setAttribute(
          "style",
          `width: ${(currentPosition.value / 3) * 100}%`
        );
      }
      initAutoScroll();
    };
    const initAutoScroll = () => {
      clearInterval(autoScroll);
      autoScroll = setInterval(() => {
        if (currentPosition.value < 3) {
          toRight();
        } else {
          currentPosition.value = 0;
        }
      }, 3500);
    };
    const onOffVideo = () => {
      let video = document.getElementById("aboutVideo");
      if (isVideoOn.value) {
        video.get(0).play();
      } else {
        video.get(0).stop();
      }
      isVideoOn.value = !isVideoOn.value;
    };

    watch(width, () => {
      if (width.value < 1266) {
        isMobile.value = true;
      } else {
        isMobile.value = false;
      }
    });

    onMounted(() => {
      autoScroll = setInterval(() => {
        if (currentPosition.value < 3) {
          toRight();
        } else {
          currentPosition.value = 0;
        }
      }, 3500);
      window.addEventListener("resize", () => {
        width.value = window.innerWidth;
      });
    });
    return {
      toLeft,
      toRight,
      style,
      onOffVideo,
      delimeter,
      isMobile,
      currentPosition,
      disableClicked,
    };
  },
};
</script>

<style lang="scss" scoped>
.delimeter-wrapper {
  &.line {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    border-width: 1px;
  }
}

@media screen and (min-width: 1266px) {
  .about-container {
    display: block;
  }

  .mobile-index {
    display: none;
  }
}

@media screen and (max-width: 1265px) {
  .about-container {
    display: none;
  }

  .mobile-index {
    display: block;
    padding: 0 13% 0 13%;
    margin-top: 95px;
  }
}

@media screen and (max-width: 980px) {
  .about-container {
    display: none;
  }

  .mobile-index {
    display: block;
    padding: 0 24px 0 24px;
  }
}
@media screen and(max-width: 980px) {
  .about-video {
    display: none;
    // opacity: 0;
    // transition: all ease 500;
  }
}
</style>
