<template>
  <about />
  <who />
  <partners />
</template>

<script>
import About from "./About.vue";
import Partners from "./Partners.vue";
import Who from "./Who.vue";
export default {
  components: { About, Partners, Who },
};
</script>

<style></style>
