<template>
  <div class="partners-wrapper flex flex-col laptop_min:min-w-[800px]">
    <div class="title-wrapper laptop_min:mb-[88px] tablet:mb-10">
      <span
        class="title font-bold gradiation-primary laptop_min:text-[48px] tablet:text-[32px]"
      >
        {{ title }}
      </span>
    </div>
    <div class="text-wrapper">
      <span
        class="sub-title font-bold text-[#b7b7b7] laptop_min:text-[24px] tablet:text-[20px]"
        >{{ subTitle }}</span
      >
      <p
        class="mt-10 text-base text-left leading-8 text-[#9f9f9f] laptop_min:text-[16px] tablet:text-[14px]"
      >
        Interested in becoming a La Lion Pte.Ltd? <br />
        Please send us email to find out more about becoming a partner.
      </p>
    </div>
    <div class="partners-list-wrapper flex laptop_min:mt-16 tablet:mt-10">
      <div class="flex">
        <img
          class="mr-8"
          src="/src/assets/partners/toothlife.svg"
          alt="company logo"
        />
        <img
          class="mr-8"
          src="/src/assets/partners/toonation.svg"
          alt="company logo"
        />
      </div>
      <img
        class="mr-8 paypal"
        src="/src/assets/partners/paypal.png"
        alt="company logo"
      />
    </div>
    <div class="btn-wrapper flex w-full laptop_min:mt-32 tablet:mt-10">
      <a
        class="email-link l-button bg-primary font-bold whitespace-nowrap"
        href="mailto:admin@lalion.sg"
      >
        Email us: admin@lalion.sg
      </a>
    </div>
  </div>
</template>

<script>
export default {
  setup() {
    const title = "Our Partners";
    const subTitle = "Get an overview of our potential partners!";
    return {
      title,
      subTitle,
    };
  },
};
</script>

<style lang="scss">
@media screen and (max-width: 1265px) {
  .partners-wrapper {
    margin-top: 95px;
  }
}

@media screen and (max-width: 768px) {
  .partners-wrapper {
    min-width: calc(100vw - 48px);
  }
  .email-btn {
    padding: 28px 46px;
  }
}
@media screen and (min-width: 527px) {
  .email-link {
    padding: 24px 102px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 526px) {
  .partners-list-wrapper {
    flex-direction: column;
    .paypal {
      margin-top: 24px;
      width: 120px;
    }
  }
  .email-link {
    width: 100%;
    font-size: 16px;
    padding: 28px 46px 25px;
    border-radius: 4px;
    text-align: center;
  }
}
</style>
