<template>
  <div class="who-outter-wrapper flex flex-col carousel-item-interval">
    <div class="title-wrapper laptop_min:mb-[88px] tablet:mb-10">
      <span
        class="title font-bold gradiation-primary whitespace-nowrap laptop_min:text-[48px] tablet:text-[32px]"
      >
        {{ title }}
      </span>
    </div>
    <div class="who-container flex">
      <div
        class="who-wrapper flex flex-col mr-10 tablet:mr-5"
        v-for="(el, i) in dataInfoList"
        :key="i"
      >
        <div class="image-wrapper mb-6">
          <img
            class="who-img w-[280px] h-80 laptop_md:min-w-[280px] object-cover"
            :src="el.imgSrc"
          />
        </div>
        <div class="text-wrapper tablet_sm:mb-10">
          <p
            class="who-explain leading-7 text-left text-[#9f9f9f] laptop_min:text-[16px] tablet:text-[14px]"
          >
            {{ el.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
export default {
  setup() {
    const title = "WHO WE ARE";
    const dataInfoList = ref([
      {
        id: 1,
        imgSrc: ``,
        text: "We solve a problem that people have to help everyone enjoy their culture through our technology.",
      },
      {
        id: 2,
        imgSrc: ``,
        text: "We are a dedicated and highly skilled group of professionals who have been involved in IT business for many years.",
      },
      {
        id: 3,
        imgSrc: ``,
        text: "We are always looking to find creative and effective ways to engage communities and drive business results.",
      },
    ]);

    onMounted(async () => {
      dataInfoList.value.forEach(async (el) => {
        let image = await import(
          `../../assets/about${el.id}.${el.id == 1 ? "png" : "svg"}`
        );
        el.imgSrc = image.default;
      });
    });

    return {
      title,
      dataInfoList,
    };
  },
};
</script>

<style lang="scss">
@media screen and (max-width: 1265px) {
  .who-outter-wrapper {
    margin-top: 95px;
  }
  .who-img {
    min-width: calc((95vw - 26vw) / 3);
  }
}

@media screen and (max-width: 980px) {
  .who-img {
    min-width: calc((95vw - 48px) / 3);
  }
}

@media screen and (max-width: 768px) {
  .who-container {
    flex-direction: column;
    .who-wrapper {
      flex-direction: column;
      .who-img {
        min-width: calc(100vw - 48px);
      }
      .who-explain {
        width: calc(100vw - 48px);
      }
    }
  }
}
</style>
