<template>
  <div
    class="supported-utility flex justify-between items-center mt-16 tablet_md:justify-start tablet_md:items-start tablet:mt-[77px] tablet_md:flex-col"
  >
    <div class="text-wrapper flex tablet_md:flex-col">
      <div class="flex flex-col text-[#cfcfcf] mr-[58px] tablet_md:mb-10">
        <span class="text-sm mb-[18px] tracking-[1.4px] font-bold">
          SUPPORTED DEVICES
        </span>
        <span class="text-xs tracking-[1.4px]">PC, MOBILE</span>
      </div>
      <div class="sns-wrapper tablet_md:mb-10">
        <sns :product="product" />
      </div>
    </div>
    <div class="btn-wrapper tablet_md:w-full">
      <button
        class="l-button product-btn bg-primary flex website items-center"
        @click="redirectWebsite"
      >
        <span> WEBSITE </span>
        <div class="arrow-wrapper w-12 ml-4 relative">
          <div
            class="arrow-x absolute self-end w-9 border-[1px] border-black top-[5px] right-[1px]"
          ></div>
          <div
            class="arrow-diagonal absolute self-end w-[18px] border-[1px] border-black top-[-1px] right-[-1.75px] bottom-[2px] rotate-45"
          ></div>
        </div>
      </button>
    </div>
  </div>
</template>

<script>
import Sns from "../common/Sns.vue";
export default {
  components: { Sns },
  props: ["product"],
  setup(props) {
    const { product } = props;
    const redirectWebsite = () => {
      if (product === "ion") {
        window.open("https://www.ionlive.sg/", "_blank");
      } else if (product === "gachaon") {
        window.open("https://gachaon.com/", "_blank");
      }
    };
    return {
      redirectWebsite,
      product,
    };
  },
};
</script>

<style lang="scss" scoped>
.product-btn {
  line-height: 2.1;
}

@media screen and (min-width: 981px) {
  .product-btn {
    width: 100%;
    padding: 22px 97px 22px 97px;
    line-height: 2.1;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
    color: #101010;
  }
}

@media screen and (max-width: 980px) {
  .product-btn {
    width: 100%;
    padding: 11px 118px 11px 118px;
    line-height: 2.63;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    color: #101010;
  }
}
</style>
