<template>
  <product-layout>
    <template #title>
      <div class="title font-bold laptop_min:text-[48px] tablet:text-[32px]">
        GACHA ON
      </div>
    </template>
    <template #mainImg>
      <img
        class="w-full"
        src="/src/assets/product/gacha-main.png"
        alt="gachaon main image"
      />
    </template>
    <template #description>
      <span class="laptop_min:text-[16px] tablet:text-[14px]">
        GachaOn is a virtual gacha shop where you can play for collectibles and
        action figures of your choice from 50 different categories such as One
        Piece, Dragonball Z, Pokemon and the Avengers.
      </span>
      <external-info :product="'gachaon'" />
    </template>
    <template #detailImg>
      <div
        class="detail-img-layout laptop_md:flex laptop_md:flex-col laptop_md:mb-10"
      >
        <div class="inner-image-layout laptop_md:flex">
          <img
            class="tablet:m-auto rounded-tl w-full object-contain"
            src="/src/assets/product/gacha-detail1-1.png"
            alt="gacha detail image"
          />
          <img
            class="tablet:m-auto rounded-tr w-full object-contain"
            src="/src/assets/product/gacha-detail1-2.png"
            alt="gacha detail image"
          />
        </div>
        <div class="inner-image-layout laptop_md:flex">
          <img
            class="tablet:m-auto rounded-bl w-full object-contain"
            src="/src/assets/product/gacha-detail1-3.png"
            alt="gacha detail image"
          />
          <img
            class="tablet:m-auto rounded-br w-full object-contain"
            src="/src/assets/product/gacha-detail1-4.png"
            alt="gacha detail image"
          />
        </div>
      </div>
      <img
        class="tablet:mt-3 w-full"
        src="/src/assets/product/gacha-detail2.png"
        alt=""
      />
    </template>
  </product-layout>
</template>

<script>
import ProductLayout from "../layout/ProductLayout.vue";
import ExternalInfo from "./externalInfo.vue";

export default {
  components: { ProductLayout, ExternalInfo },
};
</script>

<style></style>
