<template>
  <div
    class="scroll-product product-index-wrapper flex flex-row-reverse mt-40 laptop_min:mb-44 w-full"
  >
    <div
      class="product-content-wrapper flex flex-col justify-end w-full laptop_min:px-[13%] tablet:px-6 max-w-[1445px]"
    >
      <span
        class="title font-bold gradiation-primary laptop_min:text-[48px] tablet:text-[32px]"
        >PRODUCTS</span
      >
      <div class="content-wrapper mt-20">
        <ion ref="ion" />
      </div>
      <div class="content-wrapper">
        <gachaon ref="gachaon" />
      </div>
    </div>
  </div>
</template>

<script>
import Ion from "./Ion.vue";
import Gachaon from "./Gachaon.vue";
import { onMounted, ref } from "vue";
export default {
  components: { Ion, Gachaon },
  setup() {
    const ion = ref(null);
    const gachaon = ref(null);
    const animationList = ref([]);

    let scroll =
      window.requestAnimationFrame ||
      function (callback) {
        window.setTimeout(callback, 1000 / 60);
      };
    let elementsToShow = document.querySelectorAll(".show-on-scroll");

    function loop() {
      Array.prototype.forEach.call(elementsToShow, function (element) {
        if (isElementInViewport(element)) {
          element.classList.add("is-visible");
        } else {
          element.classList.remove("is-visible");
        }
      });
    }

    function isElementInViewport(el) {
      let rect = el.getBoundingClientRect();
      return (
        (rect.top <= 0 && rect.bottom >= 0) ||
        (rect.bottom >=
          (window.innerHeight || document.documentElement.clientHeight) &&
          rect.top <=
            (window.innerHeight || document.documentElement.clientHeight)) ||
        (rect.top >= 0 &&
          rect.bottom <=
            (window.innerHeight || document.documentElement.clientHeight))
      );
    }

    onMounted(() => {
      ion.value.$el.querySelectorAll(".show-on-scroll").forEach((el) => {
        animationList.value.push(el);
      });
      gachaon.value.$el.querySelectorAll(".show-on-scroll").forEach((el) => {
        animationList.value.push(el);
      });

      elementsToShow = animationList.value;

      // scroll 시에만 scroll 효과 주도록 설정
      window.addEventListener("scroll", () => {
        scroll(loop);
      });
    });

    return { ion, gachaon };
  },
};
</script>

<style></style>
