<template>
  <product-layout>
    <template #title>
      <div class="title font-bold laptop_min:text-[48px] tablet:text-[32px]">
        I.On
      </div>
    </template>
    <template #mainImg>
      <img
        class="w-full"
        src="/src/assets/product/ion-main.svg"
        alt="ion main image"
      />
    </template>
    <template #description>
      <span class="laptop_min:text-[16px] tablet:text-[14px]"
        >i.On Live is 3rd-party live-streaming donation platform that provides
        creative ways to stream and donate to creators of various platforms such
        as Twitch and YouTube.</span
      >
      <external-info :product="'ion'" />
    </template>
    <template #detailImg>
      <div
        class="detail-img-layout laptop_md:flex laptop_md:flex-col laptop_md:mb-10"
      >
        <div class="inner-image-layout laptop_md:flex">
          <img
            class="tablet:m-auto rounded-tl w-full object-contain"
            src="/src/assets/product/ion-detail1-1.png"
            alt="ion detail image"
          />
          <img
            class="tablet:m-auto rounded-tr w-full object-contain"
            src="/src/assets/product/ion-detail1-2.png"
            alt="ion detail image"
          />
        </div>
        <div class="inner-image-layout laptop_md:flex">
          <img
            class="tablet:m-auto rounded-bl w-full object-contain"
            src="/src/assets/product/ion-detail1-3.png"
            alt="ion detail image"
          />
          <img
            class="tablet:m-auto rounded-br border-bottom-right w-full object-contain"
            src="/src/assets/product/ion-detail1-4.png"
            alt="ion detail image"
          />
        </div>
      </div>
    </template>
  </product-layout>
</template>

<script>
import ProductLayout from "../layout/ProductLayout.vue";
import ExternalInfo from "./externalInfo.vue";

export default {
  components: { ProductLayout, ExternalInfo },
};
</script>

<style></style>
