<template>
  <div
    class="scroll-contact contact-wrapper max-w-[1445px] laptop_min:px-[13%] laptop_min:pb-[2%] tablet:px-6"
  >
    <h1
      class="gradiation-primary title font-bold w-fit laptop_min:text-[48px] tablet:text-[32px]"
    >
      CONTACT
    </h1>
    <div id="map" class="w-auto h-[400px] mt-10 mb-10"></div>
    <div
      class="contact-info tracking-[1.4px] text-sm flex tablet:grid tablet:grid-rows-2 desktop:w-[90%] justify-between tablet:pb-[0]"
    >
      <div
        class="address tablet:col-span-2 tablet:flex tablet:justify-start tablet:mb-12"
      >
        <div>
          <div class="key">HEAD OFFICE</div>
          <div class="element">
            160 ROBINSON ROAD #24-09 SBF CENTER <br />
            SINGAPORE 068914
          </div>
        </div>
      </div>
      <div class="number">
        <div class="key">TELEPHONE</div>
        <div class="element">+65 3129 0511</div>
      </div>
      <div class="email">
        <div class="key">E-MAIL</div>
        <div class="element">
          <a
            href="mailto:admin@lalion.sg"
            target="_blank"
            rel="noopener noreferrer"
            >admin@lalion.sg</a
          >
        </div>
      </div>
    </div>
    <Footer :isHome="false" />
  </div>
</template>

<script>
import { onMounted } from "vue";
import Footer from "./common/Footer.vue";
export default {
  components: { Footer },
  setup() {
    const initMap = () => {
      const latlng = { lat: 1.2782093367157457, lng: 103.84784685219283 };
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 18,
        center: latlng,
      });
      const icon = "/src/assets/contact/marker.png";
      const marker = new google.maps.Marker({
        position: latlng,
        map: map,
        icon: icon,
      });
    };

    const mapScript = document.createElement("script");
    mapScript.src =
      "https://maps.googleapis.com/maps/api/js?key=AIzaSyBGpp8FUdd67C_yj2A-N_XhyRS4IW0PPuU";
    mapScript.addEventListener("load", initMap);
    document.body.appendChild(mapScript);

    onMounted(() => {
      // initMap();
    });
  },
};
</script>

<style>
.key {
  color: #cfcfcf;
  font-weight: bold;
  margin-bottom: 0.875rem;
}

.element {
  color: #9f9f9f;
}

@media screen and (max-width: 980px) {
  #map {
    margin: 40px -24px 40px -24px;
  }
}
</style>
