<template>
  <div
    class="scroll-home home-wrapper w-full h-screen flex justify-start items-center laptop_min:px-[13%] tablet:px-6"
  >
    <div class="home-content-wrapper w-full flex flex-col pt-28">
      <div
        class="home-text-wrapper flex flex-col title main italic laptop_min:mt-[135px]"
      >
        <span
          class="text-white desktop:text-[120px] laptop:text-[100px] tablet:text-[58px] mobile_lg:text-[48px] font-extrabold"
        >
          LISTEN TO<br />
          YOUR <br />
        </span>
        <span
          class="creativity gradiation-primary desktop:text-[120px] laptop:text-[100px] tablet:text-[58px] mobile_lg:text-[48px] font-extrabold"
          >CREATIVITY</span
        >
      </div>
      <Footer />
    </div>
  </div>
</template>

<script>
import Footer from './common/Footer.vue';

export default {
  components: { Footer },
  setup() {},
};
</script>

<style lang="scss" scoped>
.main {
  line-height: normal;
}

@media screen and (min-width: 981px) {
  .creativity {
    width: 770px;
  }
}

@media screen and (max-width: 980px) {
  .creativity {
    width: 370px;
  }
}

@media screen and (max-width: 425px) {
  .creativity {
    width: 310px;
  }
}
</style>
