<template>
  <div class="mobile-menu-wrapper z-50 overflow-hidden">
    <div class="mobile-menu-item-wrapper mb-6" ref="home">
      <span class="mobile-menu" @click="() => setMenu('home')">HOME</span>
    </div>
    <div class="mobile-menu-item-wrapper mb-6" ref="about">
      <span class="mobile-menu" @click="() => setMenu('about')">ABOUT US</span>
    </div>
    <div class="mobile-menu-item-wrapper mb-6" ref="product">
      <span class="mobile-menu" @click="() => setMenu('product')">PRODUCT</span>
    </div>
    <div class="mobile-menu-item-wrapper" ref="contact">
      <span class="mobile-menu" @click="() => setMenu('contact')">CONTACT</span>
    </div>
  </div>
</template>

<script>
import { ref } from "@vue/reactivity";
import { useStore } from "vuex";
import { onMounted, watch } from "@vue/runtime-core";
export default {
  setup() {
    const store = useStore();
    const currentMenu = ref("home");
    const home = ref(null);
    const about = ref(null);
    const product = ref(null);
    const contact = ref(null);
    const showFullMenu = ref(false);
    const toggleFullMenu = () => {
      showFullMenu.value = !showFullMenu.value;
    };

    const setMenu = (menu) => {
      store.commit("setCurrentMenu", menu);
      currentMenu.value = menu;
    };

    onMounted(() => {
      home.value.setAttribute("style", "border-bottom: 2px solid #e8c68b");
      // home.value.css("color", "#fff");
    });

    watch(currentMenu, (to, prev) => {
      let beforeMenu = eval(prev).value;
      let clickedMenu = eval(to).value;
      beforeMenu.setAttribute("style", "border: none");
      // beforeMenu.css("color", "#e8c68b");
      clickedMenu.style.cssText = `
        border-bottom: 2px solid #e8c68b;
        font-weight: bold;
      `;
      // clickedMenu.css("color", "#fff");
    });

    return {
      setMenu,
      home,
      about,
      product,
      contact,
      showFullMenu,
      toggleFullMenu,
    };
  },
};
</script>

<style>
.mobile-menu-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu-item-wrapper {
  color: white;
  font-size: 24px;
}
</style>
