<template>
  <nav
    class="nav-bar z-30 flex justify-between items-center w-full laptop_min:px-[13%] tablet:px-6 laptop_min:h-[130px] tablet:h-16"
  >
    <img
      src="/src/assets/logo_text.svg"
      alt="logo"
      class="justify-self-start cursor-pointer"
    />
    <div
      class="hidden tablet:block justify-self-end cursor-pointer z-50"
      @click="handleClick"
    >
      <img v-if="!isClicked" src="/src/assets/hamburger_menu.svg" alt="menu" />
      <img v-if="isClicked" src="/src/assets/close_menu.svg" alt="menu" />
    </div>
    <div :class="isClicked ? 'nav-menu-list active' : 'nav-menu-list'">
      <div class="nav-menu-item home selected-menu" ref="home">
        <a @click="scrollToMenu(`home`)">HOME</a>
      </div>
      <div class="nav-menu-item about" ref="about">
        <a @click="scrollToMenu(`about`)">ABOUT US</a>
      </div>
      <div class="nav-menu-item product" ref="product">
        <a @click="scrollToMenu(`product`)">PRODUCT</a>
      </div>
      <div class="nav-menu-item contact" ref="contact">
        <a @click="scrollToMenu(`contact`)">CONTACT</a>
      </div>
    </div>
  </nav>
</template>

<script>
import { computed, onMounted, ref, watch } from 'vue';
import { useStore } from 'vuex';

export default {
  setup() {
    const isClicked = ref(false);
    const store = useStore();
    const home = ref(null);
    const about = ref(null);
    const product = ref(null);
    const contact = ref(null);
    const isMobile = ref(window.innerWidth < 981 ? true : false);
    const currentMenu = computed(() => {
      return store.getters['getCurrentMenu'];
    });
    const handleClick = () => {
      isClicked.value = !isClicked.value;
    };

    const scrollToMenu = (className) => {
      const scrollTo = document.querySelector(`.scroll-${className}`);
      const selectedActive = document.querySelector(`.${className}`);
      const navMenuItems = document.getElementsByClassName('nav-menu-item');
      const y =
        scrollTo.getBoundingClientRect().top +
        window.pageYOffset -
        (isMobile.value ? 90 : 180);

      for (let i = 0; i < navMenuItems.length; i++) {
        navMenuItems[i].classList.remove('selected-menu');
      }

      selectedActive.classList.add('selected-menu');

      window.scrollTo({ top: y, behavior: 'smooth' });
      isClicked.value = !isClicked.value;
    };

    onMounted(() => {
      eval(currentMenu.value).value.setAttribute(
        'style',
        'border-bottom: 2px solid #e8c68b; font-weight: bold;'
      );
      window.addEventListener('resize', () => {
        if (window.innerWidth < 981) isMobile.value = true;
        else isMobile.value = false;
      });
    });

    watch(currentMenu, async (to, prev) => {
      let beforeMenu = eval(prev).value;
      let clickedMenu = eval(to).value;
      // beforeMenu.classList.remove("selected-menu");
      // clickedMenu.classList.add("seleceted-menu");
      beforeMenu.setAttribute('style', 'border: none');
      clickedMenu.style.cssText = `
        border-bottom: 2px solid #e8c68b;
        font-weight: bold;
      `;
      await store.dispatch('setCurrentMenu', to);
    });

    return {
      handleClick,
      isClicked,
      scrollToMenu,
      home,
      about,
      product,
      contact,
    };
  },
};
</script>

<style lang="scss" scoped>
nav {
  position: fixed;
  top: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(232, 198, 139, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

// .selected-menu {
//   border-bottom: 2px solid #e8c68b;
//   font-weight: bold;
// }

.nav-menu-list {
  display: flex;
  text-align: center;
  width: 100vw;
  justify-content: flex-end;
  letter-spacing: 1.6px;
  font-weight: 500;
  color: #e7e7e7;

  @media screen and (min-width: 981px) {
    div:nth-child(-n + 3) {
      margin-right: 4rem;
    }
  }
}

.nav-menu-item {
  padding: 52px 0;
  :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 980px) {
  .nav-menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -150%;
    transition: all 0.5s ease;
    div {
      margin: 0;
      font-size: 24px;
      letter-spacing: 2.4px;
      &:nth-child(-n + 3) {
        margin-bottom: 24px;
      }
      &:nth-child(4) {
        margin-bottom: 96px;
      }
    }
    .nav-menu-item {
      padding: 0;
    }
    .selected-menu {
      border: 0;
    }
    &.active {
      background: #121212;
      left: 0;
      transition: all 0.5s ease;
      z-index: 1;
    }
  }
}
</style>
