<template>
  <div
    class="carousel-wrapper absolute z-20 top-40 laptop_min:px-[13%] tablet:px-6"
  >
    <div class="carousel-content-wrapper relative flex">
      <slot name="content" />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
