<template>
  <div class="table -z-20 absolute top-0 left-0 w-full h-full">
    <table class="w-full h-full">
      <tr class="">
        <td
          class="laptop_min:w-[13%] mobile_lg:w-[6%] border-[1px] border-[#fff] opacity-[0.05%]"
        ></td>
        <td class="border-[1px] border-[#fff] opacity-[0.05%]"></td>
        <td class="border-[1px] border-[#fff] opacity-[0.05%]"></td>
        <td
          class="tablet:hidden border-[1px] border-[#fff] opacity-[0.05%]"
        ></td>
        <td
          class="laptop_min:w-[13%] mobile_lg:w-[6%] border-[1px] border-[#fff] opacity-[0.05%]"
        ></td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
