<template>
  <div
    class="footer-wrapper w-full flex tablet:h-[64px] tablet:justify-start laptop_min:pt-[34px] mobile_lg:mt-52 mobile_lg:pt-[15px] mobile_lg:mb-[15px] relative"
    :class="
      isHome ? 'mt-[146px] laptop_min:mb-20' : 'mt-[30px] laptop_min:mb-10'
    "
  >
    <div
      class="horizontal-line absolute top-0 -z-20 text-white h-[1px] border-[1px] border-[#ff]"
    ></div>
    <footer class="footer">
      <!-- class="footer w-full h-[130px] tablet:h-[64px] flex justify-center tablet:justify-start items-center" -->
      <span class="sign text-xs text-[#999]"
        >Copyright
        <span class="font-bold">ⓒ 2020 La Lion Pte. Ltd. </span>
        <br class="laptop_min:hidden" />All rights Reserved.</span
      >
    </footer>
  </div>
</template>

<script>
import { onMounted, ref } from "vue";
import { useStore } from "vuex";
export default {
  props: {
    isHome: {
      type: Boolean,
      default: true,
    },
  },
  setup() {
    const store = useStore();
    const currentMenu = store.getters["getCurrentMenu"];

    return {};
  },
};
</script>

<style lang="scss" scoped>
/* .footer {
  background-color: #101010;
  border-top: 1px solid #3b372f;
} */

.footer-wrapper {
  & .horizontal-line {
    width: 200vw;
    left: -50%;
  }

  .sign {
    line-height: 2;
    letter-spacing: 0.24px;
  }
}
</style>
