<template>
  <div class="sns-wrapper flex flex-col">
    <span
      class="sns-text font-bold text-sm text-[#cfcfcf] tracking-[1.4px] mb-[18px]"
    >
      SOCIAL</span
    >
    <div class="sns-img-wrapper flex">
      <svg
        class="sns-img facebook mr-5"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        @click="() => redirectTo(facebook)"
      >
        <g data-name="facebook">
          <path
            data-name="패스 5842"
            d="M16 8a8 8 0 1 0-9.25 7.9v-5.59H4.719V8H6.75V6.238a2.823 2.823 0 0 1 3.022-3.113 12.3 12.3 0 0 1 1.791.156V5.25h-1.009A1.156 1.156 0 0 0 9.25 6.5V8h2.219l-.355 2.313H9.25V15.9A8 8 0 0 0 16 8z"
            transform="translate(2 2)"
          />
        </g>
      </svg>

      <svg
        class="sns-img instagram mr-5 fill-[#9f9f9f]"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        @click="() => redirectTo(instagram)"
      >
        <g id="instagram" transform="translate(-145 -582)">
          <g
            id="instagram-2"
            data-name="instagram"
            transform="translate(147 584)"
          >
            <path
              id="패스_1432"
              data-name="패스 1432"
              class="cls-1"
              d="M327.616 194.9h-6.141a4.93 4.93 0 0 0-4.93 4.93v6.14a4.929 4.929 0 0 0 4.93 4.929h6.141a4.929 4.929 0 0 0 4.93-4.929v-6.14a4.93 4.93 0 0 0-4.93-4.93zm3.394 10.481a3.983 3.983 0 0 1-3.983 3.983h-4.962a3.983 3.983 0 0 1-3.984-3.983v-4.962a3.984 3.984 0 0 1 3.984-3.983h4.962a3.984 3.984 0 0 1 3.983 3.983z"
              transform="translate(-316.545 -194.905)"
            />
            <path
              id="패스_1433"
              data-name="패스 1433"
              class="cls-1"
              d="M372.523 244.262a4.212 4.212 0 1 0 4.212 4.212 4.212 4.212 0 0 0-4.212-4.212zm0 6.746a2.534 2.534 0 1 1 2.534-2.534 2.534 2.534 0 0 1-2.534 2.534z"
              transform="translate(-364.308 -240.446)"
            />
            <path
              id="패스_1434"
              data-name="패스 1434"
              class="cls-1"
              d="M461.9 230.6a1.072 1.072 0 1 1-1.073-1.073 1.073 1.073 0 0 1 1.073 1.073z"
              transform="translate(-448.693 -226.856)"
            />
          </g>
        </g>
      </svg>

      <svg
        class="sns-img youtube fill-[#9f9f9f] mr-5"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        @click="() => redirectTo(youtube)"
      >
        <defs>
          <clipPath id="clip-path">
            <path
              id="사각형_4306"
              data-name="사각형 4306"
              class="cls-1"
              d="M0 0h19.917v13.942H0z"
            />
          </clipPath>
        </defs>
        <g id="youtube" transform="translate(-194 -582)">
          <g id="youtube-2" data-name="youtube" transform="translate(194 585)">
            <g
              id="그룹_7650"
              data-name="그룹 7650"
              style="clip-path: url(#clip-path)"
            >
              <path
                id="패스_4299"
                data-name="패스 4299"
                class="cls-1"
                d="M19.5 2.177A2.494 2.494 0 0 0 17.74.416C16.187 0 9.958 0 9.958 0S3.73 0 2.177.416A2.494 2.494 0 0 0 .416 2.177 25.914 25.914 0 0 0 0 6.971a25.915 25.915 0 0 0 .416 4.794 2.494 2.494 0 0 0 1.761 1.761c1.553.416 7.781.416 7.781.416s6.228 0 7.782-.416a2.494 2.494 0 0 0 1.76-1.761 25.915 25.915 0 0 0 .416-4.794 25.914 25.914 0 0 0-.416-4.794M7.967 9.958V3.983l5.174 2.988z"
              />
            </g>
          </g>
        </g>
      </svg>

      <svg
        class="sns-img discord fill-[#9f9f9f] mr-5"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        @click="() => redirectTo(discord)"
      >
        <g id="discord" transform="translate(-242 -582)">
          <g id="discord-2" data-name="discord" transform="translate(242 582)">
            <g id="그룹_2" data-name="그룹 2" transform="translate(1.504 .17)">
              <path
                id="패스_7"
                data-name="패스 7"
                class="cls-2"
                d="M95.189 103.9a1.08 1.08 0 1 0 .989 1.076 1.033 1.033 0 0 0-.989-1.076zm3.538 0a1.08 1.08 0 1 0 .989 1.076 1.033 1.033 0 0 0-.989-1.076z"
                transform="translate(-88.461 -95.767)"
              />
              <path
                id="패스_8"
                data-name="패스 8"
                class="cls-2"
                d="M49.976 20H36.987A1.992 1.992 0 0 0 35 22v13.1a1.992 1.992 0 0 0 1.987 2h10.992l-.514-1.793 1.241 1.154 1.173 1.086 2.084 1.842V22a1.992 1.992 0 0 0-1.987-2zm-3.741 12.66s-.349-.417-.64-.785a3.059 3.059 0 0 0 1.755-1.154 5.547 5.547 0 0 1-1.115.572 6.38 6.38 0 0 1-1.406.417 6.79 6.79 0 0 1-2.511-.01 8.137 8.137 0 0 1-1.425-.417 5.68 5.68 0 0 1-.708-.33c-.029-.019-.058-.029-.087-.048a.134.134 0 0 1-.039-.029c-.174-.1-.271-.165-.271-.165a3.015 3.015 0 0 0 1.7 1.144c-.291.368-.649.8-.649.8a3.515 3.515 0 0 1-2.956-1.473 12.981 12.981 0 0 1 1.4-5.651A4.793 4.793 0 0 1 42 24.517l.1.116a6.54 6.54 0 0 0-2.549 1.27s.213-.116.572-.281a7.279 7.279 0 0 1 2.2-.611.955.955 0 0 1 .165-.019 8.2 8.2 0 0 1 1.958-.019 7.9 7.9 0 0 1 2.918.931 6.451 6.451 0 0 0-2.414-1.231l.136-.155a4.793 4.793 0 0 1 2.724 1.018 12.981 12.981 0 0 1 1.4 5.651 3.543 3.543 0 0 1-2.975 1.473z"
                transform="translate(-35 -20)"
              />
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
import { ref, onMounted } from "vue";

export default {
  props: ["product"],
  setup(props) {
    const { product } = props;

    const facebook = ref("");
    const instagram = ref("");
    const youtube = ref("");
    const discord = ref("");

    const urls = [
      {
        name: "ion",
        facebook: "https://www.facebook.com/ionliveSG",
        instagram: "https://www.instagram.com/i.on_live/",
        youtube: "https://www.youtube.com/channel/UCEpNk88SqZL6yvhKmn1Nipw",
        discord: "https://discord.gg/qd6trUVPaw",
      },
      {
        name: "gachaon",
        facebook: "https://www.facebook.com/GachaOn-103836628835010",
        instagram: "https://www.instagram.com/gachaon_official/",
        youtube: "https://www.youtube.com/channel/UCdppkQwHrPSmXMOtx9UJumw",
        discord: "https://discord.com/invite/FuymgwJ4Mm",
      },
    ];

    // 너무 1차원적으로 했는데 나중에 시간되면 바꾸기
    const setRedirect = () => {
      if (product === "ion") {
        facebook.value = urls[0].facebook;
        instagram.value = urls[0].instagram;
        youtube.value = urls[0].youtube;
        discord.value = urls[0].discord;
      } else if (product === "gachaon") {
        facebook.value = urls[1].facebook;
        instagram.value = urls[1].instagram;
        youtube.value = urls[1].youtube;
        discord.value = urls[1].discord;
      }
    };

    const redirectTo = (url) => {
      window.open(`${url}`);
    };

    onMounted(() => {
      setRedirect();
    });

    return {
      redirectTo,
      facebook,
      instagram,
      youtube,
      discord,
    };
  },
};
</script>

<style lang="scss" scoped>
.sns-img-wrapper {
  .sns-img {
    &:hover {
      cursor: pointer;
      fill: #fff !important;
    }
    &.facebook {
      fill: #9f9f9f;
    }
  }
}
</style>
