<template>
  <div class="app-wrapper flex flex-col relative w-full h-full overflow-hidden">
    <somin-nav-bar />
    <div class="app-content-wrapper">
      <div class="component-wrapper flex flex-col top-0 left-0">
        <div class="video-wrapper absolute top-0 left-0 h-full -z-30">
          <video class="video" autoplay playsinline muted loop>
            <source class="absolute h-full" src="/src/assets/Lalion_main.mp4" />
          </video>
        </div>
        <div class="overlay -z-10 fixed top-0 left-0 w-full h-full"></div>
        <background-grid-line />
        <home id="home" ref="home" />
        <about id="about" ref="about" />
        <product id="product" ref="product" />
        <contact id="contact" ref="contact" />
      </div>
    </div>
  </div>
</template>

<script>
import Home from "./components/Home.vue";
import About from "./components/about/index.vue";
import Product from "./components/product/index.vue";
import Contact from "./components/Contact.vue";
import { computed, watch, onMounted, ref } from "vue";
import useTopbar from "./composables/useTopbar";
import { useStore } from "vuex";
import SominNavBar from "./components/sominNavBar.vue";
import BackgroundGridLine from "./components/common/BackgroundGridLine.vue";

export default {
  components: {
    Home,
    About,
    Product,
    Contact,
    SominNavBar,
    BackgroundGridLine,
  },
  setup() {
    const store = useStore();
    const home = ref(null);
    const about = ref(null);
    const product = ref(null);
    const contact = ref(null);
    const appWrapper = ref(null);
    const { chaseYPosition } = useTopbar();

    const currentMenu = computed(() => {
      return store.getters["getCurrentMenu"];
    });

    const componentsHeightList = computed(() => {
      return store.getters["getComponentsHeightList"];
    });

    const setComponentsHeight = async () => {
      await store.dispatch("setComponentsHeight", [
        {
          name: "home",
          height:
            home.value.$el.getBoundingClientRect().height -
            home.value.$el.getBoundingClientRect().height * 0.1,
        },
        {
          name: "about",
          height:
            about.value.$el.getBoundingClientRect().height -
            about.value.$el.getBoundingClientRect().height * 0.1,
        },
        {
          name: "product",
          height:
            product.value.$el.getBoundingClientRect().height -
            product.value.$el.getBoundingClientRect().height * 0.1,
        },
        {
          name: "contact",
          height:
            contact.value.$el.getBoundingClientRect().height -
            contact.value.$el.getBoundingClientRect().height * 0.1,
        },
      ]);
    };

    onMounted(async () => {
      window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
      await setComponentsHeight();

      window.addEventListener("scroll", async () => {
        if (!product.value) return;
        let productHeight = product.value.$el.getBoundingClientRect().height;
        if (componentsHeightList.value["product"] !== productHeight) {
          await store.dispatch("setComponentsHeight", [
            {
              name: "product",
              height: productHeight,
            },
          ]);
        }
        chaseYPosition(componentsHeightList.value);
      });

      window.addEventListener("resize", async () => {
        await setComponentsHeight().then((componentsNewHeight) =>
          chaseYPosition(componentsNewHeight)
        );
      });
    });

    return {
      home,
      about,
      product,
      contact,
    };
  },
};
</script>

<style lang="scss" scoped>
.app-wrapper {
  .video-wrapper {
    position: fixed;
    video {
      object-fit: fill;
      width: 100%;
    }
  }

  .overlay {
    background: #101010;
    opacity: 0.9;
  }
}

@media screen and(max-width: 1600px) {
  .video {
    height: 100%;
  }
}
</style>
